* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #6abadeba;
    font-family: "Montserrat", sans-serif;
    overflow: hidden;
}

.login {
    width: 500px;
    overflow: hidden;
    margin: auto;
    padding: 80px;
    background: #23463f;
    border-radius: 15px;
    box-shadow: .6rem .6rem .6rem rgba(0, 0, 0, 0.473);
    animation:  changeColor 4s infinite;
}

@keyframes changeColor{
    10%{
        box-shadow: .6rem .6rem .6rem rgba(250, 84, 7, 0.473);
    }
    30%{
        box-shadow: .6rem .6rem .6rem rgba(14, 4, 156, 0.473);
    }
    60%{
        box-shadow: .6rem .6rem .6rem rgba(245, 3, 225, 0.473);
    }
    90%{
        box-shadow: .6rem .6rem .6rem rgba(3, 243, 15, 0.473);
    }
}


h2 {
    text-align: center;
    color: #277582;
    padding: 20px;
    letter-spacing: 5rem;
    opacity: 0;
    animation: size 3s forwards;
}

@keyframes size{
    to{
        opacity: 1;
        letter-spacing: .2rem;
    }
}

label {
    color: #08ffd1;
    font-size: 17px;
}

#Uname {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
    transition: all .3s;
}
#Uname:hover , #Pass:hover{
    width: 104%;
    transition: all .3s;
}

#Pass {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
    transition: all .3s;

}

#log {
    position: relative;
    left: 0;
    width: 100%;
    cursor: pointer;
    border: 0;
    outline: 0;
    background-color: #e8716d;
    border-radius: 3px;
    padding: 10px 35px;
    font-size: 1rem;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    transition: all 0.2s ease-in-out;
}



#log:hover{
    letter-spacing: .3rem;
    background-color: #e14641;
}

span {
    color: white;
    font-size: 17px;
}

.action-forgot{
    letter-spacing: 0.1rem;
    color: #ccc;
    text-decoration: underline;
    transition: color 0.2s ease-in-out;
    font-size: 12px;
}

.action-forgot:hover{
    color: #b3b3b3;
}
